                @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');
                * {
                    font-family: 'Poppins';
                    margin: 0;
                    padding: 0;
                }
                /* Header */
                
                .welcome {
                    background: radial-gradient(95.66% 1666.54% at 4.34% 57.54%, rgba(1, 5, 99, 0.91) 0%, #254DD9 100%);
                    height: 70px;
                    width: 1440px;
                    justify-content: space-between;
                }
                
                h1 {
                    display: flex;
                    color: white;
                    font-size: 25px;
                    padding: 15px;
                    margin-left: 25px;
                }
                
                .logo-justify a {
                    display: flex;
                    align-items: flex-end;
                    padding: 15px;
                    width: 30px;
                    height: 27px;
                    margin-left: 1280px;
                    color: white;
                }
                
                .welcome img {
                    width: 50px;
                    height: 47px;
                    margin: 55px;
                }
                
                li {
                    list-style: none;
                }
                
                .header {
                    background-color: white;
                    height: 119px;
                    font-size: 25px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .header-logo img {
                    display: inline-block;
                    width: 212px;
                    height: 119px;
                }
                
                .header-list li {
                    list-style: none;
                    display: inline-block;
                    padding: 30px 10px;
                    margin: 10px 5px;
                }
                
                .header-list a {
                    text-decoration: none;
                    padding: 2px;
                    border-radius: 5px;
                    color: black;
                }
                
                .header-list a:hover {
                    background-color: rgb(71, 71, 255);
                    color: white;
                }
                /* Main */
                
                .main {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(img/b29.jpg);
                    width: 1440px;
                    height: 750px;
                    background-size: cover;
                    position: relative;
                }
                
                .container {
                    display: flex;
                    height: 95px;
                    position: absolute;
                }
                
                .container a {
                    text-decoration: none;
                }
                
                .container a :hover {
                    background: radial-gradient(159.97% 67694.69% at 0% 50%, #093BF7 0%, rgba(11, 238, 253, 0.633947) 86.46%, rgba(9, 236, 251, 0.28886) 99.98%, rgba(44, 223, 239, 0.140625) 99.99%, rgba(0, 221, 208, 0) 100%);
                }
                
                .container p {
                    font-size: 25px;
                    color: black;
                    border: 2px solid black;
                    background-color: white;
                    padding: 15px 83px 15px 83px;
                    width: 310px;
                    text-align: center;
                }
                
                .langkah3 p {
                    background: radial-gradient(159.97% 67694.69% at 0% 50%, #093BF7 0%, rgba(11, 238, 253, 0.633947) 86.46%, rgba(9, 236, 251, 0.28886) 99.98%, rgba(44, 223, 239, 0.140625) 99.99%, rgba(0, 221, 208, 0) 100%);
                }
                
                .pemesanan3 {
                    color: white;
                    position: absolute;
                    margin-top: 100px;
                    margin-left: 20px;
                    font-size: 60px;
                }
                
                h2 {
                    font-size: 60px;
                    margin-left: 400px;
                }
                
                .tabel1 {
                    position: absolute;
                    margin-top: 250px;
                    margin-left: 212px;
                    font-size: 30px;
                    font-size: 25px;
                    color: white;
                }
                
                .td1 {
                    background-color: white;
                    color: black;
                    font-size: 15px;
                    width: 329px;
                    height: 35px;
                }
                
                .td2 {
                    background-color: white;
                    color: black;
                    font-size: 15px;
                    height: 35px;
                }
                
                .td3 {
                    background-color: white;
                    color: black;
                    font-size: 15px;
                    height: 35px;
                }
                
                .tabel3 {
                    position: absolute;
                    margin-top: 520px;
                    margin-left: 212px;
                    font-size: 25px;
                    background-color: white;
                    color: black;
                    display: block;
                    font-size: 15px;
                    width: 329px;
                }
                
                .tabel3 td {
                    font-size: 15px;
                }
                
                .tabel3 img {
                    height: 30px;
                    width: 30px;
                }
                
                .tabel2 {
                    position: absolute;
                    margin-top: 250px;
                    margin-left: 843px;
                    font-size: 30px;
                    font-size: 25px;
                    color: white;
                }
                
                .td5 {
                    background-color: white;
                    color: black;
                    font-size: 15px;
                    height: 35px;
                    height: 35px;
                    width: 329px;
                }
                
                .logo2 {
                    position: absolute;
                    display: flex;
                    margin-top: 370px;
                    margin-left: 845px;
                }
                
                .logo-ovo img {
                    width: 61px;
                    height: 52px;
                }
                
                .logo-gopay img {
                    width: 61px;
                    height: 52px;
                    padding-left: 10px;
                }
                
                .logo-dana img {
                    width: 190px;
                    height: 52px;
                    padding-left: 10px;
                }
                
                .tombol {
                    background: radial-gradient(159.97% 67694.69% at 0% 50%, #093BF7 0%, rgba(11, 238, 253, 0.633947) 86.46%, rgba(9, 236, 251, 0.28886) 99.98%, rgba(44, 223, 239, 0.140625) 99.99%, rgba(0, 221, 208, 0) 100%);
                    border-radius: 8px;
                    width: 132px;
                    height: 40px;
                    padding: 4px;
                    margin-top: 30px;
                    font-size: 20px;
                }
                
                .td6 {
                    padding-top: 100px;
                }
                /* Footer */
                
                .footer {
                    background: radial-gradient(95.66% 1666.54% at 4.34% 57.54%, rgba(1, 5, 99, 0.91) 0%, #254DD9 100%);
                    width: 1440px;
                    height: 82px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .sponsor {
                    display: flex;
                }
                
                .logo-pesona img {
                    width: 150px;
                    height: 36px;
                    margin: 25px 20px 20px 50px;
                }
                
                .logo-muharram img {
                    display: inline-block;
                    width: 100px;
                    height: 36px;
                    margin: 25px 0 25px 10px;
                    justify-content: space-between;
                }
                
                .logo-harjabo img {
                    width: 99px;
                    height: 61px;
                    margin: 10px 0 10px 20px;
                    justify-content: space-between;
                }
                
                .logo-ijen-vestifal img {
                    width: 58px;
                    height: 36px;
                    margin: 25px 0 25px 30px;
                    justify-content: space-between;
                }
                
                .logo1 {
                    display: flex;
                    margin-right: -855px;
                }
                
                .logo-instagram img {
                    margin: 30px 190px 20px 0;
                    width: 25px;
                    justify-content: right;
                }
                
                .logo-facebook img {
                    margin: 30px 190px 20px 0;
                    width: 25px;
                    color: darkblue;
                    background-color: white;
                }
                
                .logo-twiter img {
                    margin: 30px 200px 20px 0;
                    width: 25px;
                }
                
                .footer-list a {
                    text-decoration: none;
                    color: white;
                }
                
                .footer-list li {
                    display: inline-block;
                    color: white;
                    margin: 30px 50px 20px 0;
                    font-size: 18px;
                }